html {
    height: 100%;
}

body {
    margin: 0;
    background-image: url(img/backgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.TopPage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
}

.ImgTopPage {
    position: absolute;
    left: 20px;
}

.Topic {
    text-align: center;
}

.TopPage img {
    height: 100px;
    object-fit: cover;
}

.MidPage {
    background-color: rgb(193 249 255 / 85%);
    display: flex;
    width: 450px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 10px 7px 10px -8px;
}

.MidPageItem {
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 3px 7px 15px -9px;
    background-color: rgb(193 249 255 / 85%);
}

.infor {
    width: 120px;
    text-align: center;
}

.MidPageItem img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 20px;
}

.BottomPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
}
.InforPage{
    margin-left: 30px;
}

.InforPageItem {
    color: white;
}

.LinkInfor {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.LinkInfor img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 20%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .TopPage {
        flex-direction: column;
    }

    .ImgTopPage {
        position: unset;
    }

    .Topic {
        font-size: 22px;
        margin-top: 20px;
    }

    .MidPage {
        zoom: 0.8;
    }

    .TopPage img {
        height: 130px;
        object-fit: cover;
    }

    html {
        height: max-content;
    }

    .BottomPage {
        flex-direction: column-reverse;
        margin-bottom: 20px;
        position: unset;
    }

    .LinkInfor {
        margin-bottom: 10px;
        margin-right: unset;
    }

    .InforPageItem {
        font-size: 14px;
    }

    .LinkInfor img {
        width: 30px;
        height: 30px;
    }
    .InforPage{
        margin-left: unset;
    }
}